#tag-group
{
    text-align: center;
}

.btn-group
{
    padding:5px;
}

/*.row
{
    padding-top: 5px;
    padding-bottom: 5px;
}*/

.grid-item 
{ 
    width: 20%; 
}

body
{
    padding-bottom: 70px;
}

.homeBody 
{
    background-image: url("../assets/nba-backgroud-light.jpg");
    background-size: cover;
}

.homeBanner
{
    font-size: 72px;
    color: #31363d;
    font-family: arial;
}

.homeBannerDivider
{
    font-size: 125px;
    color: #31363d;
    font-family: arial;
}

#paintbrush
{
    height: 50%;
    width: 50%; 
}

.navbar
{
    background-color: #31363d;
    border-color: #31363d;
}

#logo
{
    max-width: 100%;
    max-height: 100%;
}

#fbLoginBtn
{
    max-width: 100%;
    max-height: 100%;
}

/*#loginForm
{
    background-image: url("../assets/login-shield.png");
    background-size: cover;
}*/

/*.form-background
{
    background-color: #007991;
}*/